<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuibei.mapper.earning.EarningMapper">


    <select id="getIncomeListCount" parameterType="com.tuibei.utils.PageData" resultType="java.lang.Integer">
    select count(1)
    from
    sdb_tuibei_income_log
    where 1=1
        <if test="member_id !=null  and member_id != '' ">
            and member_id =#{member_id},
        </if>
        <if test="type !=null  and type != '' ">
            and type =#{type},
        </if>

    </select>

    <select id="getIncomeList" parameterType="com.tuibei.utils.PageData" resultType="com.tuibei.model.earning.Income">
          select member_id,price,type,order_sn,order_member_id,
          DATE_FORMAT(create_time,'%Y-%m-%d') as create_time
          from
          sdb_tuibei_income_log
        where 1=1
        <if test="member_id !=null  and member_id != '' ">
           and  member_id =#{member_id},
        </if>
        <if test="type !=null  and type != '' ">
            and type =#{type},
        </if>

    </select>

   <insert id="saveEarningLog" parameterType="com.tuibei.model.earning.Earning">

       insert into
       sdb_tuibei_earning
       <trim prefix="(" suffix=")" suffixOverrides=",">
           <if test="earning !=null  and earning != '' ">
               earning,
           </if>
           <if test="earning_member_id !=null  and earning_member_id != '' ">
               earning_member_id,
           </if>
           <if test="order_member_id !=null  and order_member_id != '' ">
               order_member_id,
           </if>
           <if test="order_sn !=null  and order_sn != '' ">
               order_sn,
           </if>
           <if test="goods_id !=null  and goods_id != '' ">
               goods_id,
           </if>
       </trim>
       <trim prefix="values(" suffix=")" suffixOverrides=",">
           <if test="earning !=null  and earning != '' ">
              #{earning},
           </if>
           <if test="earning_member_id !=null  and earning_member_id != '' ">
               #{earning_member_id},
           </if>
           <if test="order_member_id !=null  and order_member_id != '' ">
              #{order_member_id},
           </if>
           <if test="order_sn !=null  and order_sn != '' ">
              #{order_sn},
           </if>
           <if test="goods_id !=null  and goods_id != '' ">
              #{goods_id},
           </if>
       </trim>



   </insert>


    <insert id="saveIncomeInfo" parameterType="com.tuibei.model.earning.Income">

        insert into
        sdb_tuibei_income_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="member_id !=null  and member_id != '' ">
                member_id,
            </if>
            <if test="price !=null  and price != '' ">
                price,
            </if>
            <if test="type !=null  and type != '' ">
                type,
            </if>
            <if test="order_sn !=null  and order_sn != '' ">
                order_sn,
            </if>
            <if test="order_member_id !=null  and order_member_id != '' ">
                order_member_id,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="member_id !=null  and member_id != '' ">
                #{member_id},
            </if>
            <if test="price !=null  and price != '' ">
                #{price},
            </if>
            <if test="type !=null  and type != '' ">
                #{type},
            </if>
            <if test="order_sn !=null  and order_sn != '' ">
                #{order_sn},
            </if>
            <if test="order_member_id !=null  and order_member_id != '' ">
                #{order_member_id},
            </if>
        </trim>



    </insert>

</mapper>